.additional-goods {
  width: 100%;
  position: relative;
}

.additional-goods__wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.additional-goods__list {
  @include list-style;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #cecece;
}

.additional-goods__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cecece;
  padding-top: 11px;
  padding-bottom: 17px;
}

.additional-goods__title {
  display: inline-block;
  padding-top: 28px;
  padding-left: 20px;
  padding-bottom: 34px;
  padding-right: 20px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 41px;
    right: 0;
    background-color: #68b738;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods__wrapper {
    width: 768px;
    padding: 0 30px;
  }

  .additional-goods__list {
    border: 1px solid #cecece;
  }

  .additional-goods__item {
    padding: 20px 35px 27px 38px;
  }

  .additional-goods__item:last-child {
    border-bottom: none;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    color: #111111;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 46px;
    padding-bottom: 80px;
    margin-left: 30px;

    &::after {
      top: 67px;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__title {
    padding: 52px 35px 78px 40px;
    margin-left: 0;

    &::after {
      top: 73px;
    }
  }

  .additional-goods__wrapper {
    width: 1300px;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .additional-goods__list {
    width: 893px;
    border: none;
    border-top: 1px solid #cecece;
  }

  .additional-goods__item {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 16px;
  }

  .additional-goods__item:last-child {
    border-bottom: 1px solid #cecece;
  }

  .additional-goods {
    margin-bottom: 85px;
  }
}
