.description__wrapper {
  width: 100%;
  display: flex;
  align-content: center;
}

.description__field {
  width: 50%;
  display: inline-block;
}

.description__value {
  width: 50%;
  display: inline-block;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .description__wrapper {
    padding: 9px 0 6px;
    border-bottom: 1px solid #cdcdcd;
  }

  .description__field--additional {
    text-align: right;
    flex-grow: 1;
  }

  .description__value--additional {
    width: 54px;
  }
}

@media (min-width: $desktop-width) {
  .description__field--additional {
    text-align: left;
    width: 72%;
  }

  .description__value--additional {
    text-align: left;
    width: 28%;
  }
}
