.editor-range {
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 58px;
}

.editor-range__label {
  display: inline-block;
  border: none;
  padding: 0;
  background-color: transparent;
  color: #111111;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $oswald-font;
}

.editor-range__wrapper {
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  display: block;
  position: relative;
}

.editor-range__toggle {
  position: absolute;
  top: 3px;
  left: 6px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .editor-range {
    width: 570px;
    margin-top: 17px;
    padding: 0;
  }

  .editor-range__label {
    outline: none;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #bebebe;


    &:hover,
    &:focus {
      border-bottom: 1px solid #989898;
    }

    &:active {
      border-bottom: none;
      padding-bottom: 6px;
    }
  }

  .editor-range__wrapper {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 2px;
    border: none;
  }

  .editor-range__toggle {
    outline: none;
    width: 34px;
    height: 34px;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    top: -15px;
    left: 198px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active,
    &:focus {
      border: 1px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::after {
      content: "";
      width: 8px;
      height: 8px;
      position: absolute;
      top: 12px;
      left: 12px;
      border-radius: 50%;
      background-color: #68b738;
    }
  }
}

@media (min-width: $desktop-width) {
  .editor-range {
    margin-top: 36px;
    margin-left: 40px;
  }
}
