.intro {
  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, #68b738 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 305px,
    100% 100%;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__slogan {
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 27px;
}

.intro__image {
  @include img;
  height: 270px;
}

.intro__link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: $oswald-font;
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
  padding: 10px 74px 12px 73px;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 768px;
    margin: 0 auto;
    padding: 0 30px 0 119px;
    background: transparent;
    text-align: left;
    position: relative;
  }

  .intro__slogan {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro__image {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    top: 250px;
    left: 29px;
  }

  .intro__link {
    margin-top: 21px;
    margin-bottom: 500px;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 28px 17px 26px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: transparent;
    width: 100%;
    padding: 0;
    padding-left: 80px;
    padding-right: 650px;
  }

  .intro__image {
    width: 552px;
    height: 499px;
    z-index: 1;
    top: 20px;
    left: 450px;
  }

  .intro__link {
    margin-top: 25px;
    margin-bottom: 250px;
  }
}
